{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Family ToDo - Chores

{% endblock %}


{% block content %}

    <h2>{{ person.name }}, pick a chore...</h2>

    <article>

        <h3>Chores You've Picked</h3>

        <ul>
            {% for chore in your_chores %}

                <li>
                    {{ chore.name }}
                    <a href="/chore/{{ chore.id }}/done">Done</a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

        <article>

        <h3>Other Chores To Do</h3>

        <ul>
            {% for chore in other_chores %}

                <li>
                    {{ chore.name }}
                    <a href="/chore/{{ chore.id }}/pick">Pick</a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    <article>
        <h3>Done chores</h3>

        <ul>
            {% for chore in done_chores %}

                <li>
                    {{ chore.c_name }} - Done by {{ chore.p_name }}
                    <a href="/chore/{{ chore.id }}/reset">Reset</a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    <article>
        <details>
          <summary>
              +
          </summary>

      <h3>add a new chore</h3>

      <form action="/chore"method="POST">
      
       <input 
          type="text"
          name="chore"
          placeholder="name of chore"
          required
        >

        <button> add chore</button>
      </form>
    </article>

{% endblock %}

