{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Family ToDo

{% endblock %}


{% block content %}

    <article>

        <ul>
            {% for person in people %}

                <li>
                    <a href="/chores/{{ person.id }}">
                        {{ person.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>
            <ul>
            {% for chore in chores %}

                <li>
                    <a href="/subchores/{{ chores.id }}">
                        {{ chores.name }}
                    </a>
                </li>

            {% endfor %}
        </ul>

    </article>

    <article>
        <details>
          <summary>
              +
          </summary>

      <h3>add a new person</h3>

      <form action="/addperson" method="POST">
      
      
       <input 
          type="text"
          name="name"
          placeholder="name of person"
          required
        >

        <button> add person</button>


      </form>
 


   </details>

    
 </article>

{% endblock %}

