{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Family ToDo - Chores

{% endblock %}


{% block content %}

    <article>

        <h2>{{ person.name }}, pick a sub chore...</h2>

        <ul>
            {% for  sub chore in  sub chores %}

                <li>
                    {{ sub_chore.name }}
                    {{ sub_chore.done }}
                    
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

