/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

body>footer, body>header, body>main {
    max-width: 500px;
}

/* Chore lists -----------------------------------------*/

article ul {
    padding: 0;
}

article ul li {
    list-style: none;
    padding: 0.5rem;
    border: 1px solid blue;
    background-color: #ccf;
    color: black;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

